<%- model_class = Fxtrade -%>
<div> 
   <h1>FX 売買分析 日次明細</h1> 
   <p><%= link_to '戻る',user_fxtrade_index_path , :class => 'btn btn-primary'%></p>
</div>
<br>

<table class="table table-bordered table-hover table-condensed">FX取引履歴：日次明細
  <thead>
    <tr>
      <th><div class="text-center"><%= model_class.real_attribute_name(:trade_date) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:currency) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:quantity) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:trade_type) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:price) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:sw_gain) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:realized_gain) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:sum_gain) %></div></th>
    </tr>
  </thead>
  <tbody>
    <% @fx_daily_detail.each do |fx| %>
      <tr>
        <td><div class="text-center"><%= fx.trade_date %></td>
        <td><div class="text-center"><%= fx.currency %></td>
        <td><div class="text-center"><%= fx.quantity %></td>
        <td><div class="text-center"><%= fx.trade_type %></td>
        <td><div class="text-center"><%= fx.price %></td>
        <td><div class="text-right"><%= number_to_currency(fx.sw_gain, :unit => "￥", :precision => 0) %></td>
        <td><div class="text-right"><%= number_to_currency(fx.realized_gain, :unit => "￥", :precision => 0) %></td>
        <td><div class="text-right"><%= number_to_currency(fx.sum_gain, :unit => "￥", :precision => 0) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
