<%- model_class = Fxtrade -%>
<div> 
   <h1>FX 売買分析 日次明細 コメント編集</h1> 
   <p><%= link_to '戻る', :back, :class => 'btn btn-primary'%></p>
</div>
<br>

<table class="table table-bordered table-hover table-condensed">FX取引履歴：日次明細
  <thead>
    <tr>
      <th><div class="text-center"><%= model_class.real_attribute_name(:trade_date) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:currency) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:quantity) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:trade_type) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:price) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:sw_gain) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:realized_gain) %></div></th>
      <th><div class="text-center"><%= model_class.real_attribute_name(:sum_gain) %></div></th>
    </tr>
  </thead>
  <tbody>
    <% @fx_daily_detail.each do |fx| %>
      <tr>
        <td><div class="text-center"><%= fx.trade_date %></div></td>
        <td><div class="text-center"><%= fx.currency %></div></td>
        <td><div class="text-center"><%= fx.quantity %></div></td>
        <td><div class="text-center"><%= fx.trade_type %></div></td>
        <td><div class="text-center"><%= fx.price %></div></td>
        <td><div class="text-right"><%= number_to_currency(fx.sw_gain, :unit => "￥", :precision => 0) %></div></td>
        <td><div class="text-right"><%= number_to_currency(fx.realized_gain, :unit => "￥", :precision => 0) %></div></td>
        <td><div class="text-right"><%= number_to_currency(fx.sum_gain, :unit => "￥", :precision => 0) %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>コメント(500文字以内)
	<%= form_for(@dairy, :url => update_comment_user_fxtrade_index_path(:trade_date => @fx_daily_detail[0].trade_date.split[0])) do |f| %>
	  <%= f.text_area :comment, :size => "100x4", :maxlength => "500", :style => "width:1100px;"%>
	  <p><%= f.submit "更新", :class => 'btn btn-primary' %></p>
	<% end %>
</div>

<br>
