<%- model_class = FxPerformance -%>
<br/>
<br/>
<div>
	<table class="table table-bordered table-hover table-condensed">Daily Pivot
	  <thead>
	    <tr>
	      <th><div class="text-center">日付</div></th>
	      <th><div class="text-center">通貨コード</div></th>
	      <th><div class="text-center">S3</div></th>
	      <th><div class="text-center">S2</div></th>
	      <th><div class="text-center">S1</div></th>
	      <th><div class="text-center">P</div></th>
	      <th><div class="text-center">R1</div></th>
	      <th><div class="text-center">R2</div></th>
	      <th><div class="text-center">R3</div></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @daily_pivot.each do |pivot| %>
	      <tr>
	        <td><div class="text-center"><%= pivot.calc_date %></td>
	        <td><div class="text-center"><%= pivot.cur_code %></td>
	        <td><div class="text-right"><%= pivot.S3 %></td>
	        <td><div class="text-right"><%= pivot.S2 %></td>
	        <td><div class="text-right"><%= pivot.S1 %></td>
	        <td><div class="text-right"><%= pivot.P %></td>
	        <td><div class="text-right"><%= pivot.R1 %></td>
	        <td><div class="text-right"><%= pivot.R2 %></td>
	        <td><div class="text-right"><%= pivot.R3 %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<div>
	<table class="table table-bordered table-hover table-condensed">Bolinger Band
	  <thead>
	    <tr>
	      <th><div class="text-center">日付</div></th>
	      <th><div class="text-center">通貨コード</div></th>
	      <th><div class="text-center">-3σ</div></th>
	      <th><div class="text-center">-2σ</div></th>
	      <th><div class="text-center">-1σ</div></th>
	      <th><div class="text-center">25MA</div></th>
	      <th><div class="text-center">+1σ</div></th>
	      <th><div class="text-center">+2σ</div></th>
	      <th><div class="text-center">+3σ</div></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @daily_bolinger_band.each do |bolinger_band| %>
	      <tr>
	        <td><div class="text-center"><%= bolinger_band.calc_date %></td>
	        <td><div class="text-center"><%= bolinger_band.cur_code %></td>
	        <td><div class="text-right"><%= bolinger_band.minus3sigma %></td>
	        <td><div class="text-right"><%= bolinger_band.minus2sigma %></td>
	        <td><div class="text-right"><%= bolinger_band.minus1sigma %></td>
	        <td><div class="text-right"><%= bolinger_band.MA %></td>
	        <td><div class="text-right"><%= bolinger_band.plus1sigma %></td>
	        <td><div class="text-right"><%= bolinger_band.plus2sigma %></td>
	        <td><div class="text-right"><%= bolinger_band.plus3sigma %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<div class="row">
	<div class="span3">
		<div>
		  <%= high_chart("usejpy_risk", @usdjpy_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("eurjpy_risk", @eurjpy_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("eurusd_risk", @eurusd_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("audjpy_risk", @audjpy_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("audusd_risk", @audusd_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("gbpjpy_risk", @gbpjpy_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("gbpusd_risk", @gbpusd_term_risk_graph) %>
		</div>
	</div>
	<div class="span3">
		<div>
		  <%= high_chart("usdjpy_avg_daily_range", @usdjpy_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("eurjpy_avg_daily_range", @eurjpy_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("eurusd_avg_daily_range", @eurusd_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("audjpy_avg_daily_range", @audjpy_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("audusd_avg_daily_range", @audusd_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("gbpjpy_avg_daily_range", @gbpjpy_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("gbpusd_avg_daily_range", @gbpusd_avg_daily_range_graph) %>
		</div>
	</div>
    <div class="span3">
            <div>
              <%= high_chart("usejpy_dfma", @usdjpy_dfma_graph) %>
            </div>
            <div>
              <%= high_chart("eurjpy_dfma", @eurjpy_dfma_graph) %>
            </div>
            <div>
              <%= high_chart("eurusd_dfma", @eurusd_dfma_graph) %>
            </div>
            <div>
              <%= high_chart("audjpy_dfma", @audjpy_dfma_graph) %>
            </div>
            <div>
              <%= high_chart("audusd_dfma", @audusd_dfma_graph) %>
            </div>
            <div>
              <%= high_chart("gbpjpy_dfma", @gbpjpy_dfma_graph) %>
            </div>
            <div>
              <%= high_chart("gbpusd_dfma", @gbpusd_dfma_graph) %>
            </div>
    </div>
    <div class="span3">
            <div>
              <%= high_chart("usejpy_rsi_and_st", @usdjpy_rsi_and_st_graph) %>
            </div>
            <div>
              <%= high_chart("eurjpy_rsi_and_st", @eurjpy_rsi_and_st_graph) %>
            </div>
            <div>
              <%= high_chart("eurusd_rsi_and_st", @eurusd_rsi_and_st_graph) %>
            </div>
            <div>
              <%= high_chart("audjpy_rsi_and_st", @audjpy_rsi_and_st_graph) %>
            </div>
            <div>
              <%= high_chart("audusd_rsi_and_st", @audusd_rsi_and_st_graph) %>
            </div>
            <div>
              <%= high_chart("gbpjpy_rsi_and_st", @gbpjpy_rsi_and_st_graph) %>
            </div>
            <div>
              <%= high_chart("gbpusd_rsi_and_st", @gbpusd_rsi_and_st_graph) %>
            </div>
    </div>
    
</div>
