<%- model_class = FxPerformance -%>
<br/>
<br/>
<div class="row">
	<div class="span6"> <!-- 12分割のグリッドシステムの6を使用 -->
		<div>
		  <%= high_chart("usejpy_risk", @usdjpy_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("eurjpy_risk", @eurjpy_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("usdeur_risk", @usdeur_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("audjpy_risk", @audjpy_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("audusd_risk", @audusd_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("gbpjpy_risk", @gbpjpy_term_risk_graph) %>
		</div>
		<div>
		  <%= high_chart("gbpusd_risk", @gbpusd_term_risk_graph) %>
		</div>
	</div>
	<div class="span6"> <!-- 12分割のグリッドシステムの6を使用 -->
		<div>
		  <%= high_chart("usdjpy_avg_daily_range", @usdjpy_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("eurjpy_avg_daily_range", @eurjpy_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("eurusd_avg_daily_range", @eurusd_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("audjpy_avg_daily_range", @audjpy_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("audusd_avg_daily_range", @audusd_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("gbpjpy_avg_daily_range", @gbpjpy_avg_daily_range_graph) %>
		</div>
		<div>
		  <%= high_chart("gbpusd_avg_daily_range", @gbpusd_avg_daily_range_graph) %>
		</div>
	</div>
</div>
