<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Asset Control", root_path, id: "logo"  %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "TOP", root_path %></li>
          <li><%= link_to "FX 投資情報 基礎", fx_rate_index_path %></li>
          <li><%= link_to "FX 投資情報 分析", fx_performance_index_path %></li>
          <% if user_signed_in? %>
	          <li><%= link_to "FX 売買分析", user_fxtrade_index_path(current_user.id) %></li>
	      <% else %>
	          <li><%= link_to "FX 売買分析", new_user_session_path %></li>
	      <% end %>
          <% if user_signed_in? %>
	          <li><%= link_to "レートアラート", user_alert_index_path(current_user.id) %></li>
	      <% else %>
	          <li><%= link_to "レートアラート", new_user_session_path %></li>
	      <% end %>
          <% if user_signed_in? %>
		      <li><%= link_to "パスワード変更", edit_user_registration_path %></li>
	          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
	      <% else %>
		      <li><%= link_to "新規登録", new_user_registration_path %></li>
	          <li><%= link_to "Login", new_user_session_path %></li>
		  <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
